.article-header{
    background: url('../assets/backgroundTexture.jpg') center center repeat-y;
    background-size: cover;
    color: white;
    padding-top: 100px;
}


.holding-pills{
    background-color: lighten(lightgrey, 12);
}
.nav-item button.nav-link{
    color: $darkBlue;
}
.nav-item button.nav-link.active{
    background: $darkBlue;
    color: white;
}

#myTabContent{
    hr{
        margin: 50px 0;
        height: 10px;
        opacity: 0.2;
    }
}