.experience{
    opacity: 0;
}
.not.reported{
    opacity: 0;
}
.no.action{
    opacity: 0;
}

.hidden{
    opacity: 0!important;
}
.reported, .action{
    pointer-events: none;
    opacity: 1;
    transition: opacity 1s ease;
    &:hover{
        cursor: default;
    }
}



.my-tooltip{
    position: absolute;
    top: 50px;
    left: 30%;
    padding: 10px; 
    background-color: rgba(darken($darkBlue, 5), 0.9);
    width: 40%;
    height: auto;
    border-radius: 5px;
    border: 1px solid $blue;
    opacity: 0;
    display: none;
    table{
        font-weight: 500;
    }
    
}

.my-tooltip:after{
    box-sizing: border-box;
    display: inline;
    font-size: 30px;
    width: 100%;
    margin-top: 10px;
    line-height: 1;
    color: $blue;
    content: "\25BC";
    position: absolute;
    text-align: center;
}


@keyframes animateIn {
    0%{
        opacity: 0;
        top: 200px
    }
    100%{
        opacity: 1;
        top: 50px;
    }
}

@keyframes animateOut {
    100%{
        opacity: 0;
        top: 200px
    }
    0%{
        opacity: 1;
        top: 50px;
    }
}

.tip-show{
    animation: animateIn 0.5s ease forwards;
}
.tip-hide{
    animation: animateOut 0.5s ease forwards;
}


#toggleInstructions{
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    padding: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0 ;
    width: 20%;
    z-index: 100;
}

.bounceAround{
    animation: bounce 8s infinite;
}

@keyframes bounce {
    0%, 2%, 5%, 8%, 10%, 100% {padding-bottom: 0;} 
    4% {padding-bottom: 10px;} 
    6% {padding-bottom: 5px;} 
 } 


#overall-table{
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
}
.indented{
    padding-left: 30px!important;
}

#currentView{
    position: absolute;
    top: 30;
    right: 0;
    background: $teal;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.my-toast{
    position: absolute;
    top: 20px;
    width: 20%;
    right: 0;
    color: white;
    .my-toast-body{
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.2em;
        line-height: 1em;
        text-transform: uppercase;
        animation: fadeUp 4s forwards ease;
    }
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: translateY(200px)
    }
    20%, 80%{
        opacity: 1;
        transform: translateY(0)
    }
    100%{
        opacity: 0;
        transform: translateY(0)
    }
}