

// graph styles
.content-header{
  padding: 25px 0 ;
  font-family: 'Bebas Neue';
  h3{
    font-size: 2.5em;
  }
}
.g-col{
  padding: 0!important;
}

.sampleSize{
  margin: 0 auto 20px auto;
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px 5px;
  font-family: 'Bebas Neue';
  font-size: 1em;

  @include mQ($md){
    margin: 20px;
  }
}
.toggles{
  padding: 10px;
  display: inline-block;
}
.canvas{
  height: 50vh;
  @include mQ ($md){
    height: 40vh;
  }
}
.canvas_v{
  height: 90vh;
}

.d3-tip{
  font-family: Bebas Neue!important;
}

#error-div{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background: $red;
  border-radius: 10px;
  padding:  10px 25px;
  color: white;
  i{
    font-size: 3em;
  }
}

.bounce-in{
  animation: 3s ease 1 bounce-in-and-out;
}

@keyframes bounce-in-and-out {
  0%, 100%{
      opacity: 0;
      transform: scale(1);
      transform: translateY(0)
  }
  25%, 75%{
      opacity: 1;
      transform: scale(1.1);
      transform: translateY(-150px)
  }
}