#opening{
    padding: 25px;
    min-height: 80vh;
    height: auto;
    background: url('../assets/images/media-manager.jpg') center -150px no-repeat;
    background-size: contain;
    box-shadow: 0 0 15px rgba(darken($darkBlue, 50), 0.5);
    @include mQ ($md, landscape) {
        min-height: 40vh;
    }
    @include mQ ($lg){
        background: url('../assets/images/media-manager.jpg') center -150px no-repeat;
    }
    .red-block{
        width: 200px;
        height: 25px;
        background: $red;
    }
}
#overview{
    margin-top: $grid-padding;
}

#data-overview{
    min-height: 90vh;
    @include mQ ($lg){
        margin: $grid-padding 0;
    }
}

#heading-container{
    border-bottom: 1px solid $teal;
}
#data-toggles{
    padding: 10px 0;
    color: white;
    border-top: 1px solid $teal;
    .toggles{
        padding-top: 10px;
        @include mQ ($md){
            padding-top: 0;
        }
    }
}
#data-links{
    padding: 0!important;
    a{
        color: white;
        text-decoration: none;
    }
    i.material-icons.arrow{
        color: $red;
        font-size: 2em;
        margin-right: 10px;
        @include mQ ($md) {
            font-size: 3em;
        }
    }
    i.material-icons.my-icon{
        color: white;
        font-size: 2em;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        border: 1px solid white;
    }
    .my-links{
        margin: 0 20px;
    }
    div{
        margin-top: $grid-padding;
        &:last-child{
            margin-bottom: $grid-padding;
        }
        @include mQ ($lg){
            margin-left: $grid-padding;
        }
    }
    .data-link{
        &:hover{
            background: rgba($teal, 0.7);
            transition: background 0.5s;
        }
    }
}
#data-container{
    position: relative;
    overflow: hidden;
    text#africa.names{
        display: none;
    }
    #value-africa{
        display: none;
    }
    .canvas{
        min-height: 40vh;
    }
}

#total-value{
    padding: 10px;
    color: white;
    margin: 5px; 

    h3, span{
        font-weight: 500;
        letter-spacing: 0.2em;
        font-size: 1.2em;
        text-transform: uppercase;
    }
}

.red-hover:hover{
    color: $red;
    transition: all 0.5s;
}
#win-quote{
    
}
i.quote{
    color: $red!important;
    font-size: 3em;
    
    
}
i.rotate{
    
        transform: rotate(180deg)
    
}