

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "var.scss", "mixins.scss", "navbar.scss", "footer.scss", "dropdown.scss", 'homepage.scss', 'fulldata.scss';

body{
    font-family: 'Alegreya Sans', sans-serif!important;
    font-size: 1em;
    padding-top: 100px;
}
body#full-bg{
    background: url('../assets/backgroundTexture.jpg') repeat;
    background-size: auto;
    background-position: fixed;
}
p{
    font-weight: 300;
}
p.bigger{
    font-weight: 300;
    font-size: 1.5em;
}
h1.bigger{
    font-size: 3em;
    @include mQ ($md) {
        font-size: 4em;
    }
}

.my-rounded{
    border-radius: 20px;
    @include mQ ($lg){
        border-radius: 30px;
    }
}

// switch styles
.form-check-input:checked{
    background-color: $teal!important;
    border-color: $teal!important;
    
}
.form-check-input.yellow-switch:checked{
    background-color: $yellow!important;
    border-color: $yellow!important;
}
.form-check-input.red-switch:checked{
    background-color: $red!important;
    border-color: $red!important;
}

.form-switch .form-check-input.yellow-switch{
    background-image: url('../assets/yellow.svg')
}
.form-switch .form-check-input.red-switch{
    background-image: url('../assets/red.svg')
}



