

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "var.scss", "mixins.scss", "navbar.scss", "footer.scss", "dropdown.scss", 'homepage.scss', 'fulldata.scss', 'articles.scss';

body{
    font-family: 'Alegreya Sans', sans-serif!important;
    font-size: 1em;
    @include mQ ($lg) {
        font-size: 1.6rem;
    }
    padding-top: 50px;
}
body#full-bg{
    background: url('../assets/backgroundTexture.jpg') repeat;
    background-size: auto;
    background-position: fixed;
}



.back-button{
    z-index: 1000;
    position: fixed;
    top: 80px;
    left:0;
    opacity: 0;
    animation: jump-in 0.5s 2s ease forwards;
    @include mQ ($md){
        left: 20px;
        top: 100px;
    }

}
@keyframes jump-in {
    0%{
        transform: translateY(50px) scale(0.5);
        opacity: 0;
    }
    80%{
        transform: translateY(-10px) scale (1.3);
        opacity: 1;
    }
    100%{
        transform: translateY(0) scale (1);
        opacity: 1;
    }
}

.to-top-button{
    z-index: 1000;
    position: fixed;
    bottom: -20px;
    right: 20px;
    opacity: 0;
    transition: all 0.5s;
    button{
        border-radius: 25px;
    }
}

#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50vh;
    left: 0;
  }







.divider{
    height: 50px;
}

p{
    font-weight: 400;
    @include mQ ($lg) {
        font-size: 1.6rem;
    }
}
ul li{
    font-size: 1em;
    font-weight: 400;
    @include mQ ($lg) {
        font-size: 1.6rem;
    }
}
p.bigger{
    font-weight: 300;
    font-size: 1.5em;
}
p.smaller{
    font-size: 1em;
}
h1.bigger{
    font-size: 3em;
    @include mQ ($md) {
        font-size: 4em;
    }
}

.my-rounded{
    border-radius: 20px;
    @include mQ ($lg){
        border-radius: 30px;
    }
}

// switch styles
.form-check-input:checked{
    background-color: $teal!important;
    border-color: $teal!important;
    
}
.form-check-input.yellow-switch:checked{
    background-color: $yellow!important;
    border-color: $yellow!important;
}
.form-check-input.red-switch:checked{
    background-color: $red!important;
    border-color: $red!important;
}

.form-switch .form-check-input.yellow-switch{
    background-image: url('../assets/yellow.svg')
}
.form-switch .form-check-input.red-switch{
    background-image: url('../assets/red.svg')
}




