

// colors

$darkBlue: #0c3280;
$blue: #2667ff;
$teal: #2eb5c3;
$red: #ff4700;
$yellow: #ffb000;

$gradient: linear-gradient(90deg, rgba(63,161,252,1) 0%, rgba(9,9,121,1) 45%, rgba(46,217,195,1) 100%);
$gradient-opaque: linear-gradient(90deg, rgba(63,161,252,0.5) 0%, rgba(9,9,121,0.5) 45%, rgba(46,217,195,0.5) 100%);


$colors: (
    darkBlue: #0c3280,
    blue: #2667ff,
    teal: #2eb5c3,
    red: #ff4700,
    yellow: #ffb000
);



// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


$start : 0;
$end: 100;


@each $name, $color in $colors {
    @for $i from $start through $end{
        .bg-#{''+$name}-#{$i}{
            background-color: rgba($color, ($i) * 1%);
        }
    }
    .text-#{$name}{
        color: $color;
    }
    .btn.btn-#{$name}{
        color: white;
        background-color: $color;
        border: 1px solid darken($color, 5);
        &:hover, &:focus, &:active{
            color: white;
            background-color: lighten($color, 10);
            border: 1px solid $color;
        }
        &:focus {
             box-shadow: 0 0 0 3px rgba($color, 0.4);
        } 
    }
}

$grid-padding: 10px;


